
.top-100{
	margin: 0 auto; 
	width: 80%;
	padding: 3%; 
	background-color: #2A2D43;
	display: grid;
	grid-template-columns: 25% 25% 25% 25% ;
	grid-gap: 5px;
	align-items: center;
  justify-content: center;
}
.searched_coin
{
	width: 80%; 
	margin: 0 auto;

}
body{
	padding: 1.5%;
}

.currency-button
{
	cursor: pointer;
	background-color: black;
	color: white;
	font-size: 1.5em;
	user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	border-radius: 4px;

}

.currency-button-drop-down
{
	text-align: center;
	height: 300px;
	overflow-y: scroll;

	background-color: #4e5463;

}
.card{
	background-color: #F7FFF7;
	text-align: center;
	padding: 2.5%;
	border: 6px solid #BBCDE5;
	border-radius: 5px;
}
.card-body
{
	min-height: 170px;
}
.card img 
{
	height: 30px;
	width: auto;
}

.search
{	
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 3.5%;

}

#search-box{
	padding: 4%;
	width: 100%;
	border-radius: 4px;
	user-select: none;
	background-color: white;
	border: 7px solid #3A015C;
	font-size: 2.5em;
}

@media only screen and (max-width: 1269px) {
	.top-100{
		grid-template-columns:40% 40%;
	}
}
@media only screen and (max-width: 900px) {
  .top-100
  {
  	grid-template-columns: 90%;
  }
  .currency-button{
  	width: 90%;
  	margin: 0 auto;
  	position: relative;
  }
  .card
  {
  	padding: 2%;
  	border-radius: 5px;
  }
  .card-body{
  	min-height: 0;
  }
  .currency-button-drop-down
  {
  	margin-bottom: 3%;
  }
}